<div class="example-container">
    <mat-drawer-container class="example-container mat-typography" autosize>
        <mat-drawer #drawer mode="side" disableClose="true" opened="true">
            <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
                <mat-icon aria-label="Menu">menu</mat-icon>
            </button>

            <mat-nav-list>
                <mat-list-item (click)="changeView(0)">
                    <mat-icon mat-list-icon>store</mat-icon>
                    <h4 mat-line *ngIf="isExpanded">Manage Items</h4>
                </mat-list-item>
                <mat-list-item (click)="changeView(1)">
                    <mat-icon mat-list-icon>supervisor_account</mat-icon>
                    <h4 mat-line *ngIf="isExpanded">Modify/Add Staff</h4>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>

        <div class="example-sidenav-content">
            <app-item-management *ngIf="displayView[0]"></app-item-management>
        </div>
    </mat-drawer-container>
</div>