<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Enter current password</mat-label>
                <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="currentPassword"
                    required>
                <button mat-icon-button matSuffix (mousedown)="hideCurrentPassword = false"
                    (mouseup)="hideCurrentPassword = true" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideCurrentPassword">
                    <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hideNewPassword ? 'password' : 'text'" [(ngModel)]="newPassword" required>
                <button mat-icon-button matSuffix (mousedown)="hideNewPassword = false"
                    (mouseup)="hideNewPassword = true" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNewPassword">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Re-enter new password</mat-label>
                <input matInput [type]="hideNewPassword2 ? 'password' : 'text'" [(ngModel)]="newPassword2" required>
                <button mat-icon-button matSuffix (mousedown)="hideNewPassword2 = false"
                    (mouseup)="hideNewPassword2 = true" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNewPassword2">
                    <mat-icon>{{hideNewPassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="alert alert-danger" role="alert" style="text-align: center;" *ngIf="errorText !== null">
        {{ errorText }}
    </div>
</mat-dialog-content>
<div mat-dialog-actions style="float: right;">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="updatePassword()" cdkFocusInitial>Submit</button>
</div>