.mat-tab-group {
    margin-bottom: 48px;
}

.example-box {
  align-items: center;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
}

table {
  width: 100%;
}

.mat-header-cell {
  background: #b9e8ad
}